<h1>Backpacker Name: <%= @user.username %></h1>

<ul>

	<% @user.pictures.each do |picture| %>
		<img src= <%= picture.img_url %> width="500" height="350" ><br />
	<% end %>

	<p>Contact Me! <%= @user.email %></p><br />
	<p><%link_to "Main Page", pictures_path %></p>

</ul>